   <div class="dark">
   
   <div class="flexc">
        <div class="bins">
            <div class="All">
                <h1 class="big">Enjoy on your TV.</h1>
                <p class="small">Watch on smart TVs, PlayStation, Xbox, Chromecast, Apple TV, Blu-ray players and more.</p>
            </div>
        </div>

        <div class="dum">
            <div class="our"><img alt="" class="our-story-card-img" src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/tv.png" data-uia="our-story-card-img"><video class="video" autoplay="" playsinline="" muted="" loop=""><source src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/video-tv-in-0819.m4v" type="video/mp4"></video><div class="our-story-card-animation-text"></div></div>
        </div>

</div>


<div class="flexc">
    <div class="bins">
        <div class="All">
            <h1 class="big">Download your shows to watch offline.</h1>
            <p class="small">Save your favourites easily and always have something to watch.</p>
        </div>
    </div>



  <div class="dum">
        <div class="our"><img alt="" class="our-story-card-img" src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/tv.png" data-uia="our-story-card-img"><video class="video" autoplay="" playsinline="" muted="" loop=""><source src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/video-tv-in-0819.m4v" type="video/mp4"></video><div class="our-story-card-animation-text"></div></div>
    </div>


 

</div>


<div class="flexc">
    <div class="bins">
        <div class="All">
            <h1 class="big">Enjoy on your TV.</h1>
            <p class="small">Watch on smart TVs, PlayStation, Xbox, Chromecast, Apple TV, Blu-ray players and more.</p>
        </div>
    </div>

    <div class="dum">
        <div class="our"><img alt="" class="our-story-card-img" src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/tv.png" data-uia="our-story-card-img"><video class="video" autoplay="" playsinline="" muted="" loop=""><source src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/video-tv-in-0819.m4v" type="video/mp4"></video><div class="our-story-card-animation-text"></div></div>
    </div>

</div>



<div class="flexc">
    <div class="bins">
        <div class="All">
            <h1 class="big">Enjoy on your TV.</h1>
            <p class="small">Watch on smart TVs, PlayStation, Xbox, Chromecast, Apple TV, Blu-ray players and more.</p>
        </div>
    </div>

    <div class="dum">
        <div class="our"><img alt="" class="our-story-card-img" src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/tv.png" data-uia="our-story-card-img"><video class="video" autoplay="" playsinline="" muted="" loop=""><source src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/video-tv-in-0819.m4v" type="video/mp4"></video><div class="our-story-card-animation-text"></div></div>
    </div>

</div>
</div>