<div class="bar">
    <div class="net">
  <div class="dal">
           NETFLIX   
        </div>

        <div class="bit">
    <div class="option">
     <select id="lang" name="">
       <option value="Eng">English</option>
        <option value="Hind">हिन्दी</option>
 </select>
    </div>
        </div>

        <div class="button">
        <a routerLink="/navbar"><button class="btn">Sign In</button></a>
        </div>
    </div>


   <div class="name">
       <div class="all">
           <span class="one">Unlimited movies, TV</span>
           <span class="two">shows and more.</span>
           <span class="three">Watch anywhere. Cancel anytime.</span>

           <div class="dir">
               <span class="four">Ready to watch? Enter your email to create or restart your membership.</span>
           </div>


           <div class="box">
               <input type="email" name="" placeholder="Email Address">
               <div class="hul">
               <button class="btk">Get Started ></button></div>
           </div>
       </div>
 </div>

 </div>


 <app-mycontainer></app-mycontainer>
