
   <!-- <div class="bar">
      <div class="net">
          <div class="dal">
             NETFLIX   
          </div>

          <div class="bit">
      <div class="option">
       <select id="lang" name="">
         <option value="Eng">English</option>
          <option value="Hind">हिन्दी</option>
   </select>
      </div>
          </div>

          <div class="button">
          <a routerLink="/navbar"><button class="btn">Sign In</button></a>
          </div>
      </div>
   </div> -->
<router-outlet></router-outlet>